@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: 'BebasNeue-Regular';
    src: url("BebasNeue-Regular.ttf")format('truetype');
    font-weight: normal;
    font-style: normal;
    color: white;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 1.2rem;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#spinningLogo {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

  .nav-item {
    color: #ffffff;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .navbar {
        width: 80%;
        flex-wrap: wrap;
    }
    }

html {
    scroll-behavior: smooth;
    color: white;



}

/* Add this media query for mobile devices */
@media screen and (max-width: 768px) {
   #myVideo {
        width: 220px;
    }
}

#myVideo {
   width: auto;
  height: 100%;
  display: block;
  margin: 0 auto;

}


#opener {
width: 100%;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  #opener {
    height: auto;
  }

  #myVideo {
    width: 100%;
    height: auto;
  }
}
#wrapper2, #wrapper3 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centering y-axis */
    align-items: center; /* Centering x-axis */
}
#wrapper4 {
    margin: auto;
    width: 80%;
    padding: 20px;
}
#sightsImage, #culinaryImage, #trafficImage {
    width: 600px;
    padding-right: 10px;
    padding-left: 10px;
}
#sightsText, #culinaryText {
    display: flex;
}
#trafficText {
    display: flex;
    padding: 20px;
    padding-left: 30px;
}
/* Add some content at the bottom of the video/page */
#content {
    position: absolute;
    margin: 0 auto;
    color: #f1f1f1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: BebasNeue-Regular;
    -webkit-animation: adjustText 1s infinite alternate;
    -moz-animation: adjustText 2s infinite alternate;
    -o-animation: adjustText 2s infinite alternate;
    animation: adjustText 2s infinite alternate;
}
@keyframes adjustText {
    from {
        font-size: 30px;
    }
    to {
        font-size: 35px;
    }
}
#sights, #culinary, #traffic, #work #Food {
    width: 100%;
    height: 20%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}


#textSights, #textBahn, #textEssen {
    width: 90%;
    align-content: center;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    margin: auto;
}
#Textest {
    height: 200px;
    background-color: black;
}
#Subtext {
    position: absolute;
    margin: 0 auto;
    color: #f1f1f1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: italic;
}
/* Style the button used to pause/play the video */
#arrowdown {
    width: 150px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    margin-top: 550px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
@media screen and (max-width: 1150px) {

#arrowdown {
    width: 150px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    margin-top: 400px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

}

@media screen and (max-width: 768px) {

#arrowdown {
    width: 150px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    margin-top: 300px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

}

@media screen and (max-width: 450px) {

#arrowdown {
    width: 90px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    margin-top: 600px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

}

#myBtn:hover {
    color: white;
}
#footer {
    background-color: black;
    line-height: 40px;
    color: white;
    width: 100%;
    height: 20%;
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-family: BebasNeue-Regular;
    font-size: 56px;
}
#img-zoomer-box {
    width: 80%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#img-1 {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img-zoomer-box:hover, #img-zoomer-box:active {
    cursor: zoom-in;
    display: block;
}
#img-zoomer-box:hover #img-2, #img-zoomer-box:active #img-2 {
    opacity: 1;
}
#img-2 {
    width: 340px;
    height: 340px;
    background: url("BerlinMap.png") no-repeat #FFF;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    position: absolute;
    opacity: 0;
    border: 4px solid whitesmoke;
    z-index: 99;
    border-radius: 100%;
    display: block;
    transition: opacity .2s;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 667px) {
    #content {
        position: absolute;
        margin: 0 auto;
        color: #f1f1f1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: BebasNeue-Regular;
        -webkit-animation: adjustText 1s infinite alternate;
        -moz-animation: adjustText 2s infinite alternate;
        -o-animation: adjustText 2s infinite alternate;
        animation: adjustText 2s infinite alternate;
    }
    h1 {
        padding: 0;
        font-size: 26px;
    }
    #sightsImage, #culinaryImage {
        width: 200px;
        height: 100px;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: auto;
    }

    #wrapper3 {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centering y-axis */
        align-items: center; /* Centering x-axis */
    }
    #wrapper4 {
        width: 82%;
        padding: 0px;
        margin: auto;
    }
    #trafficText {
        padding: 20px;
        width: 80%;
        margin-left: auto;
        justify-content: center;
        margin-right: auto;
        display: table-row;
    }
}

#Logo {
width: 250px;
margin-bottom: 150px;
}

#progressBarContainer {
  position: absolute;
  bottom: 10%;
  left: 25%; /* Change this to adjust the container's horizontal position */
  width: 50%; /* Change this to adjust the container's width */
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background-color: #4caf50;
  border-radius: 5px;
}

#aboutmetext{
    text-align: left; /* Add this line to center the text */
width: 40%;
}

@media only screen and (max-width: 667px) {
#aboutmetext{
    text-align: center; /* Add this line to center the text */
    width: 80%;

}}

#about-container {
  display: flex;
  flex-direction: row; /* Change this from column to row */
  align-items: top; /* Center the items vertically */
  justify-content: center; /* Center the items horizontally */
  width: 100%;
}
@media only screen and (max-width: 667px) {

#about-container {
  flex-direction: column; /* Change this from column to row */
  align-items: center; /* Center the items vertically */
  justify-content: center; /* Center the items horizontally */
  width: 100%;
}
}
#about-section {
  flex-direction: column;
  align-items: top;
  width: 100%;
}

#about-section h1{
  flex-direction: column;
  align-items: center;
  width: 100%;
margin-top:40px
}




#about-section p{
  font-size: 30px;
  width: 80%;
}
@media only screen and (max-width: 667px) {

#about-section p{
  font-size: 16px;
  width: 80%;
}
}


h1 {
  font-family: BebasNeue-Regular;
  font-size: 56px;
  text-align: center;
  margin-bottom: 5px; /* Add some spacing between the title and the content */
}

#placeholder-image {
  border-radius: 50%; /* Make the image round */
height: 150px;
  width: 150px;

}

.centeredslider {

margin-top:20px;}
.button {
display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}